@font-face {
    font-family: Karla;
    src: url('./Karla-VariableFont_wght.ttf');
}

footer {
    font-size: 11px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 100%;
    transform: translateY(-110%);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E6EFF5;
}

* {
    box-sizing: border-box;
}

#app {
    max-width: 635px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 15px 30px 0px rgba(0, 81, 171, 0.15);
}

#app .top {
    padding: 40px;
    background-color: #fff;
}

#app .top h2 {
    color: #2AB3B1;
    font-family: Karla;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
}

#app .top h3 {
    color: #C0DF33;
    font-family: Karla;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.225px;
}

#app .top p {
    color: #9AA7BE;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
}

#app .bottom {
    background: #2AB3B1;
    display: flex;
}

#app .bottom .left {
    padding: 40px;
    width: 100%;
}

#app .bottom .left h3 {
    color: #FFF;
    font-family: Karla;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.225px;
}

#app .bottom .left .price {
    color: #FFF;
    font-family: Karla;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
    display: flex;
    align-items: center;
}

#app .bottom .left .price span {
    color: #FFF;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    opacity: 0.5;
    margin-left: 10px;
}

#app .bottom .left p {
    color: #FFF;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.2px;
    margin-top: 0;
}

#app .bottom .left button {
    border-radius: 5px;
    background: #C0DF33;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
    border: none;
    color: #FFF;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
    padding: 15px;
    cursor: pointer;
}

#app .bottom .right {
    padding: 40px;
    background-color: #4abebd;
    width: 100%;
}

#app .bottom .right h3 {
    color: #FFF;
    font-family: Karla;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.225px;
}

#app .bottom .right p {
    color: #FFF;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.175px;
    opacity: 0.75;
}

@media (max-width: 376px) {
    body{
        padding: 30px;
    }

    #app .bottom{
        flex-direction: column;
    }
}